* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1:6 {
  color: #333;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
}
.v1_2 {
  width: 100%;
  height: 1080px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_6 {
  width: 691px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 475px;
  left: 269px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v1_7 {
  width: 618px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 552px;
  left: 269px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_8 {
  width: 135px;
  height: 101px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 245px;
  left: 501px;
}
.v1_11 {
  width: 154px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 74px;
  left: 132px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v1_12 {
  width: 89px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 100px;
  left: 1315px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_14 {
  width: 100px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 103px;
  left: 1563px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_13 {
  width: 89px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 100px;
  left: 1439px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_15 {
  width: 89px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 103px;
  left: 1698px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_16 {
  width: 559px;
  height: 340px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 333px;
  left: 1058px;
  overflow: hidden;
}
.v1_17 {
  width: 14px;
  height: 41px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 355px;
}
.v1_18 {
  width: 16px;
  height: 15px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 364px;
}
.v1_19 {
  width: 9px;
  height: 26px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 356px;
}
.v1_20 {
  width: 10px;
  height: 10px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: absolute;
  top: 71px;
  left: 362px;
}
.v1_21 {
  width: 10px;
  height: 26px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 345px;
}
.v1_22 {
  width: 10px;
  height: 10px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: absolute;
  top: 71px;
  left: 340px;
}
.v1_23 {
  width: 31px;
  height: 17px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 96px;
  left: 340px;
}
.v1_24 {
  width: 17px;
  height: 47px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 353px;
}
.v1_25 {
  width: 17px;
  height: 3px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 353px;
}
.v1_26 {
  width: 17px;
  height: 3px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 353px;
}
.v1_27 {
  width: 17px;
  height: 47px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 378px;
}
.v1_28 {
  width: 17px;
  height: 3px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 379px;
}
.v1_29 {
  width: 17px;
  height: 3px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 379px;
}
.v1_30 {
  width: 17px;
  height: 47px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 404px;
}
.v1_31 {
  width: 17px;
  height: 3px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 404px;
}
.v1_32 {
  width: 17px;
  height: 3px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 404px;
}
.v1_33 {
  width: 17px;
  height: 47px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 66px;
  left: 417px;
}
.v1_34 {
  width: 17px;
  height: 3px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 74px;
  left: 418px;
}
.v1_35 {
  width: 17px;
  height: 3px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 99px;
  left: 418px;
}
.v1_36 {
  width: 17px;
  height: 47px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 66px;
  left: 443px;
}
.v1_37 {
  width: 17px;
  height: 3px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 74px;
  left: 443px;
}
.v1_38 {
  width: 17px;
  height: 3px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 99px;
  left: 443px;
}
.v1_39 {
  width: 17px;
  height: 47px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 66px;
  left: 469px;
}
.v1_40 {
  width: 17px;
  height: 3px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 74px;
  left: 469px;
}
.v1_41 {
  width: 17px;
  height: 3px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 99px;
  left: 469px;
}
.v1_42 {
  width: 17px;
  height: 47px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 133px;
  left: 350px;
}
.v1_43 {
  width: 17px;
  height: 3px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 140px;
  left: 350px;
}
.v1_44 {
  width: 17px;
  height: 3px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 166px;
  left: 350px;
}
.v1_45 {
  width: 17px;
  height: 47px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 133px;
  left: 376px;
}
.v1_46 {
  width: 17px;
  height: 3px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 140px;
  left: 376px;
}
.v1_47 {
  width: 17px;
  height: 3px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 166px;
  left: 376px;
}
.v1_48 {
  width: 17px;
  height: 47px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 133px;
  left: 401px;
}
.v1_49 {
  width: 17px;
  height: 3px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 140px;
  left: 402px;
}
.v1_50 {
  width: 17px;
  height: 3px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 166px;
  left: 402px;
}
.v1_51 {
  width: 17px;
  height: 47px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 429px;
}
.v1_52 {
  width: 17px;
  height: 3px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 430px;
}
.v1_53 {
  width: 17px;
  height: 3px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 430px;
}
.v1_54 {
  width: 17px;
  height: 47px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 455px;
}
.v1_55 {
  width: 17px;
  height: 3px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 455px;
}
.v1_56 {
  width: 17px;
  height: 3px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 455px;
}
.v1_57 {
  width: 17px;
  height: 47px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 481px;
}
.v1_58 {
  width: 17px;
  height: 3px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 481px;
}
.v1_59 {
  width: 17px;
  height: 3px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 481px;
}
.v1_60 {
  width: 17px;
  height: 47px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 506px;
}
.v1_61 {
  width: 17px;
  height: 3px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 507px;
}
.v1_62 {
  width: 17px;
  height: 3px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 507px;
}
.v1_63 {
  width: 244px;
  height: 1px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 315px;
}
.v1_64 {
  width: 244px;
  height: 1px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 113px;
  left: 315px;
}
.v1_65 {
  width: 244px;
  height: 1px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 180px;
  left: 315px;
}
.v1_66 {
  width: 14px;
  height: 41px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: absolute;
  top: 132px;
  left: 496px;
}
.v1_67 {
  width: 16px;
  height: 15px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: absolute;
  top: 119px;
  left: 505px;
}
.v1_68 {
  width: 9px;
  height: 26px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: absolute;
  top: 146px;
  left: 497px;
}
.v1_69 {
  width: 10px;
  height: 10px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: absolute;
  top: 138px;
  left: 503px;
}
.v1_70 {
  width: 10px;
  height: 26px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: absolute;
  top: 147px;
  left: 486px;
}
.v1_71 {
  width: 10px;
  height: 10px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: absolute;
  top: 138px;
  left: 481px;
}
.v1_72 {
  width: 31px;
  height: 17px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 163px;
  left: 481px;
}
.v1_73 {
  width: 326px;
  height: 1px;
  background: rgba(63,61,86,1);
  opacity: 1;
  position: absolute;
  top: 297px;
  left: 0px;
}
.v1_74 {
  width: 46px;
  height: 44px;
  background: rgba(47,46,65,1);
  opacity: 1;
  position: absolute;
  top: 146px;
  left: 147px;
}
.v1_75 {
  width: 40px;
  height: 17px;
  background: rgba(255,184,184,1);
  opacity: 1;
  position: absolute;
  top: 294px;
  left: 148px;
}
.v1_76 {
  width: 31px;
  height: 12px;
  background: rgba(47,46,65,1);
  opacity: 1;
  position: absolute;
  top: 281px;
  left: 150px;
}
.v1_77 {
  width: 40px;
  height: 32px;
  background: rgba(255,184,184,1);
  opacity: 1;
  position: absolute;
  top: 286px;
  left: 125px;
}
.v1_78 {
  width: 32px;
  height: 12px;
  background: rgba(47,46,65,1);
  opacity: 1;
  position: absolute;
  top: 332px;
  left: 144px;
  transform: rotate(-49deg);
}
.v1_79 {
  width: 51px;
  height: 27px;
  background: rgba(47,46,65,1);
  opacity: 1;
  position: absolute;
  top: 272px;
  left: 142px;
}
.v1_80 {
  width: 63px;
  height: 50px;
  background: rgba(47,46,65,1);
  opacity: 1;
  position: absolute;
  top: 265px;
  left: 100px;
}
.v1_81 {
  width: 58px;
  height: 38px;
  background: rgba(47,46,65,1);
  opacity: 1;
  position: absolute;
  top: 274px;
  left: 164px;
}
.v1_82 {
  width: 41px;
  height: 40px;
  background: rgba(255,184,184,1);
  opacity: 1;
  position: absolute;
  top: 153px;
  left: 150px;
}
.v1_83 {
  width: 70px;
  height: 81px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 134px;
}
.v1_84 {
  width: 37px;
  height: 34px;
  background: rgba(255,184,184,1);
  opacity: 1;
  position: absolute;
  top: 261px;
  left: 156px;
}
.v1_85 {
  width: 54px;
  height: 85px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 203px;
  left: 171px;
}
.v1_86 {
  width: 37px;
  height: 34px;
  background: rgba(255,184,184,1);
  opacity: 1;
  position: absolute;
  top: 260px;
  left: 144px;
}
.v1_87 {
  width: 57px;
  height: 85px;
  background: rgba(204,204,204,1);
  opacity: 1;
  position: absolute;
  top: 203px;
  left: 111px;
}
.v1_88 {
  width: 87px;
  height: 51px;
  background: rgba(108,99,255,1);
  opacity: 1;
  position: absolute;
  top: 246px;
  left: 125px;
}
.v1_89 {
  width: 10px;
  height: 9px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 267px;
  left: 164px;
}
.v1_90 {
  width: 37px;
  height: 22px;
  background: rgba(47,46,65,1);
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 149px;
}
.v1_91 {
  width: 14px;
  height: 41px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: absolute;
  top: 248px;
  left: 27px;
}
.v1_92 {
  width: 16px;
  height: 15px;
  background: rgba(108,99,255,1);
  opacity: 1;
  position: absolute;
  top: 235px;
  left: 36px;
}
.v1_93 {
  width: 9px;
  height: 26px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: absolute;
  top: 262px;
  left: 28px;
}
.v1_94 {
  width: 10px;
  height: 10px;
  background: rgba(108,99,255,1);
  opacity: 1;
  position: absolute;
  top: 254px;
  left: 34px;
}
.v1_95 {
  width: 10px;
  height: 26px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: absolute;
  top: 263px;
  left: 17px;
}
.v1_96 {
  width: 10px;
  height: 10px;
  background: rgba(108,99,255,1);
  opacity: 1;
  position: absolute;
  top: 254px;
  left: 12px;
}
.v1_97 {
  width: 31px;
  height: 17px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 279px;
  left: 12px;
}
.v1_98 {
  width: 20px;
  height: 18px;
  background: rgba(255,101,132,1);
  opacity: 1;
  position: absolute;
  top: 294px;
  left: 249px;
}
.v1_99 {
  width: 6px;
  height: 13px;
  background: rgba(63,61,86,1);
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 253px;
}
.v1_100 {
  width: 9px;
  height: 9px;
  background: rgba(63,61,86,1);
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 257px;
}
.v3_102 {
  width: 220px;
  height: 705px;
  background: url("../images/v3_102.png");
  opacity: 1;
  position: absolute;
  top: 548px;
  left: 2005px;
  border: 1px solid rgba(0,0,0,1);
  transform: rotate(-171deg);
}
.v3_101 {
  width: 256px;
  height: 704px;
  background: url("../images/v3_101.png");
  opacity: 1;
  position: absolute;
  top: 514px;
  left: 86px;
  border: 1px solid rgba(0,0,0,1);
}
